/WpfApplication/bin
/WpfApplication/obj
/ScrollViewer/bin
/ScrollViewer/obj
/videoItem/bin
/videoItem/obj
/LoadDemo/obj
/.vs
/LoadDemo/bin
/TestApp/obj
/TestApp/bin
/ToolTip/obj
/ToolTip/bin
/Animation/obj
/Animation/bin
/dropAnimation/obj
/dropAnimation/bin
/Text/obj
/Text/bin
/WindowChrome/obj
/WindowChrome/bin

/LoadFileXaml/bin/Debug/netcoreapp3.1/*.dll
/LoadFileXaml/bin/Debug/netcoreapp3.1/*.json
/LoadFileXaml/bin/Debug/netcoreapp3.1/*.exe
/LoadFileXaml/bin/Debug/netcoreapp3.1/*.pdb
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/debian-x64/native/*.so
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/fedora-x64/native/*.so
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/opensuse-x64/native/*.so
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/osx/native/*.dylib
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/rhel-x64/native/*.so
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/win7-arm/native/*.dll
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/win7-x64/native/*.dll
/LoadFileXaml/bin/Debug/netcoreapp3.1/runtimes/win7-x86/native/*.dll
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.cs
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.cache
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.editorconfig
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.BuildWithSkipAnalyzers
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.CopyComplete
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.txt
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.json
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.dll
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.resources
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.pdb
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.lref
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.baml
/LoadFileXaml/obj/Debug/netcoreapp3.1/*.exe
/LoadFileXaml/obj/*.json
/LoadFileXaml/obj/*.props
/LoadFileXaml/obj/*.targets
/LoadFileXaml/obj/*.cache
/other/WindowChromeWnd/.vs/Supercharger/_/*.dat
