/WpfApplication/bin
/WpfApplication/obj
/ScrollViewer/bin
/ScrollViewer/obj
/videoItem/bin
/videoItem/obj
/LoadDemo/obj
/.vs
/LoadDemo/bin
/TestApp/obj
/TestApp/bin
/ToolTip/obj
/ToolTip/bin
/Animation/obj
/Animation/bin

